<mat-card>
  <mat-card-header>
    <mat-card-title>
      Login
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onLogin()" fxLayout="column" fxLayoutAlign="space-evenly none"  >
      <mat-form-field appearance="fill">
        <mat-label>private key</mat-label>
        <input matInput #privateKey="ngModel" name="privateKey" [(ngModel)]="loginKey" required>
        <mat-error *ngIf="privateKey.errors?.required">privateKey is required</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary">Login</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

