<mat-card>
  <mat-card-header>
    Generate New Wallet
  </mat-card-header>
  <mat-card-content *ngIf="wallet">
    <mat-card>
      <mat-card-header>
        Address
      </mat-card-header>
      <mat-card-content>
        {{wallet.address}}
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        Public Key
      </mat-card-header>
      <mat-card-content>
        {{wallet.publicKey}}
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        Private Key
      </mat-card-header>
      <mat-card-content>
        {{wallet.privateKey}}
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <mat-card-actions>
    <button mat-mini-fab color="primary" (click)="onGenerate()"><mat-icon>refresh</mat-icon></button>
  </mat-card-actions>
</mat-card>
